@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: "Red Hat Text";
    background-color: #FCF8F6;
    box-sizing: border-box;
}

.delete-color {
    filter: brightness(0) saturate(100%) invert(63%) sepia(8%) saturate(970%) hue-rotate(319deg) brightness(92%) contrast(82%);
}

.modal {
    transform: translate(-50%, 0%);
    max-height: calc(100% - 50px);
}